main{
    >div.wrapper{
        >section.vip{
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: #b2afef33;
            color: #555555;
            margin-bottom: 100px;
            padding: 50px 30px 30px 30px;
            >div{
                gap: 20px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 100%;
                max-width: 1100px;
                >div{
                    display: flex;
                    flex: 1;
                    flex-flow: column wrap;
                    align-items: center;
                    div.img{
                        justify-content: start;
                        min-height: 47px;
                    }
                    div.text{
                        display: flex;
                        flex-flow: column wrap;
                        flex-basis: 96px;
                    }
                    >div{
                        width: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        img{
                            width: 41px;
                            height: auto;
                            max-width: 100%;
                        }
                        h2{
                            width: 100%;
                            text-align: center;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 1.6;
                        }
                        p{
                            font-size: 12px;
                            margin-top: 10px;
                            line-height: 1.5;
                            text-align: center;
                        }
                        
                    }
                }
            }
            >button{
                @extend %posts-button-setting;
                text-transform: uppercase;
                margin-top: 15px;
                background-color: transparent;
                font-weight: 500;
            }
        }
    }
}