nav{
    >div.subPage{
        display: none;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: #cccccc8c;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 3;
    }
    >div.mainBar{
        >div.left{
            >div.sideNav{
                display: none;
                position: relative;
                width: 100%;
                height: 80vh;
                max-height: 595.333px; /* Attention */
                min-height: 590px; /* Attention */
                background-color: $white;
                border-bottom: 2px solid #f5f5f5;
                position: absolute;
                top: 80px;
                left: 0;
                z-index: 4;
                >ul{
                    list-style: none;
                    display: flex;
                    flex-flow: column nowrap;
                    height: 100%;
                    width: 247.6px;
                    border-right: 2px solid #f5f5f5;
                    padding: 10px 0;
                    >li{
                        width: 100%;
                        min-height: 35px;
                        margin-bottom: 2px;
                        cursor: pointer;
                        @include border-left-sideNav(transparent);
                        
                        >div{
                            display: none;
                            cursor: auto;
                            position: absolute;
                            top: 0;
                            left: 246px;
                            height: 590px;
                            width: 80%;
                            max-width: calc(100% - 247.6px);
                        }
                        
                        >a{
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            padding-left: 25px;
                            color: #333333;
                            font-size: 17px;
                            font-weight: 600;
                            text-decoration: none;
                            width: inherit;
                            height: inherit;
                        }
                    }
                    >li:first-of-type{
                        @include li-hover-setting(#f4f3f2);
                    }
                    >li:nth-of-type(2){
                        @include li-hover-setting(#f4f3f2);
                        >div.eCatalogue{
                            justify-content: center;
                            align-items: center;
                            >div{
                                width: 310px;
                                display: flex;
                                flex-flow: column nowrap;
                                >div:first-of-type{
                                    display: flex;
                                    flex-flow: column nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    >a{
                                        display: block;
                                        text-decoration: none;
                                        color: $black;
                                        font-size: 17px;
                                        font-weight: 700;
                                        &:hover{
                                            color: #999999;
                                        }
                                    }
                                    >p{
                                        color: #666666;
                                        text-align: center;
                                        font-size: 14px;
                                        margin: 10px 0 15px 0;
                                    }
                                }
                                >div:nth-of-type(2){
                                    width: inherit;
                                    height: 440px;
                                    border-radius: 10px;
                                    >img{
                                        transition: 500ms;
                                        cursor: pointer;
                                        width: 100%;
                                        border-radius: inherit;
                                        &:hover{
                                            filter: blur(2px);
                                        }
                                    }
                                }
                                >div:nth-of-type(3){
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: inherit;
                                    height: 22.4px;
                                    margin-top:12px;
                                    >a{
                                        text-decoration: underline 2px;
                                        color: #333333;
                                        font-size: 14px;
                                        font-weight: 700;
                                        text-underline-offset: 5px;
                                    }
                                }
                            }
                        }
                    }
                    >li:nth-of-type(3){
                        @include li-hover-setting(#f4f3f2);
                        div.Inspiration{
                            justify-content: center;
                            align-items: center;
                            >div{
                                width: 269px;
                                height: 269px;
                                position: relative;
                                cursor: pointer;
                                &:hover{
                                    >img{
                                        filter: blur(2px);
                                    }
                                }
                                >img{
                                    width: 100%;
                                }
                                >span{
                                    color: $white;
                                    font-size: 30px;
                                    font-weight: bold;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    text-align: center;
                                    transform: translate(-50% , -50%);
                                    width: 100%;
                                }
                            }
                        }
                    }
                    >li:nth-of-type(4){
                        @include li-border-hover-setting(#91e7e3,#91e7e366);
                        >div.skinCare{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(5){
                        @include li-border-hover-setting(#e793b7,#e793b766);
                        >div.Make-Up{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(6){
                        @include li-border-hover-setting(#b6ada5,#b6ada566);
                        >div.Fragrance{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(7){
                        @include li-border-hover-setting(#2774ae,#2774ae66);
                        >div.bathBody{
                            @extend %link-menu;
                            div.bigger{
                                width: 200px;
                            }
                        }
                    }
                    >li:nth-of-type(8){
                        @include li-border-hover-setting(#f0c264,#f0c26466);
                        >div.Hair{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(9){
                        @include li-border-hover-setting(#ff8072,#ff807266);
                        >div.Accessories{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(10){
                        @include li-border-hover-setting(#685bc7,#685bc766);
                        >div.Wellness{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(11){
                        @include li-border-hover-setting(#007681,#00768166);
                        >div.Men{
                            @extend %link-menu;
                            div.bigger{
                                width: 200px;
                            }
                        }
                    }
                    >li:nth-of-type(12){
                        @include li-border-hover-setting(#7ed1ea,#7ed1ea66);
                        >div.kidsBaby{
                            @extend %link-menu;
                        }
                    }
                    >li:nth-of-type(13){
                        &:hover{
                            background-color: unset;
                            >a{
                                color: rgb(119, 119, 119);
                            }
                        }
                    }
                    >li:nth-of-type(14){
                        &:hover{
                            background-color: unset;
                            >a{
                                color: rgb(119, 119, 119);
                            }
                        }
                    }
                }
            }
        }
    }
}